<launch>

<rosparam file="$(find urdf_v2_description)/launch/controller.yaml" command="load"/>
<node args="joint1_position_controller joint2_position_controller joint3_position_controller joint4_position_controller joint5_position_controller joint6_position_controller joint_state_controller " name="controller_spawner" ns="urdf_v2" output="screen" pkg="controller_manager" respawn="false" type="spawner"/>
<node name="robot_state_publisher" output="screen" pkg="robot_state_publisher" respawn="false" type="robot_state_publisher">
  <remap from="/joint_states" to="/urdf_v2/joint_states"/>
</node>

</launch>